body {
    background-color: aliceblue;
}

.info-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    object-fit: contain;
}

.info-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
}

.welcome-label {
    color: #000;
    font-size: 6rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.fist-aid-label{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.home-start-button {
    padding: 1rem 2rem;
    background-color: #0f81c7;
    color: #fff;
    outline: none;
    border: none;
    max-width: 40vw;
    border-radius: 5rem;
    font-size: 3rem;
    cursor: pointer;
    font-weight: 700;
    transition: 0.2s;
}

.home-start-button:hover {
    background-color: #35759d;
    color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1900px) {
    .welcome-label {
        font-size: 10rem;
    }

    .fist-aid-label{
        font-size: 8rem;
    }
}

@media (max-width: 800px) {
    .welcome-label {
        font-size: 4rem;
    }

    .fist-aid-label{
        font-size: 2.5rem;
    }

    .home-start-button {
        max-width: 60vw;
        font-size: 2rem;
    }
}